{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>

<body>
    <h1>This is an h1 tag</h1>
    <div class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eius dolorem labore autem quae aut, amet qui earum sed impedit voluptatem tenetur nihil voluptatibus alias iste quasi. Architecto, deserunt provident!
    </div>
</body>

</html>