@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "circle";


:root {
  --viewport-height: 100vh;
}

html {
  font-family: 'Inter', sans-serif;
}

body, html {
  background: #E5E5E5;
}


#dashboard-container {
  background: #FBFCFD;
  height: var(--viewport-height, 100vh);
  max-height: var(--viewport-height, 100vh);
  overflow: hidden;
  display: grid;
  grid-template-areas: "sidenav navbar"
  "sidenav main-content";
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

#dashboard-side-nav {
  grid-area: sidenav;
}

#dashboard-main-content {
  grid-area: main-content;
}

#dashboard-navbar {
  grid-area: navbar;
}

.nav-tab-link {
   @apply inline-block px-1 pb-5 pt-2 border-b-[3px] border-transparent text-purple-navy-30/70 font-medium transition;
   &:not(:first-child) {
     @apply ml-8;
   }
   &:hover {
     @apply text-raisin-black border-brink-pink/30;
   }

   &.active {
    @apply text-raisin-black border-brink-pink relative;
    &::after {
      content: '';
      @apply h-2 w-2 block absolute top-2 right-0 transform translate-x-1/2 -translate-y-1/2 bg-brink-pink rounded-full;
    }
   }
}